<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>xkcd</display-name>
	<description>xkcd integration for slack</description>
	<context-param>
		<param-name>xkcd.base.url</param-name>
		<param-value>https://xkcd.com/</param-value>
	</context-param>
	<context-param>
		<param-name>xkcd.caching</param-name>
		<param-value>JPA</param-value>
	</context-param>
	<context-param>
		<param-name>xkcd.jdbc.driver</param-name>
		<param-value>org.apache.derby.jdbc.EmbeddedDriver</param-value>
	</context-param>
	<context-param>
		<param-name>xkcd.jdbc.url</param-name>
		<param-value>jdbc:derby:xkcd;create=true</param-value>
	</context-param>
	<listener>
		<listener-class>com.github.thanospapapetrou.xkcd.impl.cdi.ConfigurationResolver</listener-class>
	</listener>
	<error-page>
		<location>/WEB-INF/error.jspx</location>
	</error-page>
</web-app>
